

# Get your key from https://aistudio.google.com
GEMINI_API_KEY=AIzaSy...

# MongoDB Atlas connection string
MONGO_URI=mongodb+srv://<user>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority

MONGO_DB_NAME=agent_mira_db
MONGO_COLLECTION_NAME=property_docs
ATLAS_VECTOR_INDEX_NAME=vector_index
MONGO_MEMORY_COLLECTION=chat_memory